%h2 Cerca un volo:

- object = { from: "FLR", to: "TYO", date: "24/08/2011", return_date: "24/10/2011", days: 1 }

- form object, action: "/", name: "search" do
  .left
    .ins Aeroporti
    - tfield "from", "Partenza"
  .right
    - tfield "to", "Ritorno"
  .left
    .ins2 Date
    - tfield "date"
  .right
    - tfield "return_date"
  .left
    - select "days", (1..7).to_a, "Giorni +/-", class: "days"
  .right
    - submit "Cerca"

  .clear

#results{ style: "display: none" }

- spinner