%h2 Cerca:

- object = { from: "MIL", to: "TYO", date: "20/06/2011", date_return: "20/07/2011", days: 3 }

- form object, action: "/", name: "search" do
  .left
    .ins Aeroporti
    - tfield "from", "Partenza"
  .right
    - tfield "to", "Ritorno"
  .left
    .ins2 Date
    - tfield "date"
  .right
    - tfield "date_return"
  .left
    - select "days", (2..10).to_a, "Giorni +/-", class: "days"
  .right
    - submit "Cerca"

  .clear

#results{ style: "display: none" }

- spinner